@using DV.FrenteLoja.Helpers;
@model  DV.FrenteLoja.Core.Contratos.DataObjects.CheckupCarDto



<header>
    <div>
        <div class="col-md-4">
            <h3> CHECK-UP </h3>
        </div>
        <div class="col-md-12 text-align-end">
            @Html.StepControl(6, 8)
        </div>
    </div>
</header>



<main>
    @using (@Html.BeginForm("StepSevenCar", "Checkup", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Cliente)
        @Html.HiddenFor(model => model.CPFCNPJ)
        @Html.HiddenFor(model => model.Phone)
        @Html.HiddenFor(model => model.License)
        @Html.HiddenFor(model => model.Car)
        @Html.HiddenFor(model => model.Year)
        @Html.HiddenFor(model => model.KM)
        @Html.HiddenFor(model => model.Marca)
        @Html.HiddenFor(model => model.Versao)
        @Html.HiddenFor(model => model.Tecnico)
        @Html.HiddenFor(model => model.Vendedor)
        @Html.HiddenFor(model => model.ProdutoServico)
        @Html.HiddenFor(model => model.IsCheckupCar)
        @Html.HiddenFor(model => model.OrcamentoId)
        @Html.HiddenFor(model => model.CheckupId);

        @Html.HiddenFor(model => model.ConvergenciaTotalInicial)
        @Html.HiddenFor(model => model.CambarEsquerdoFrontalInicial)
        @Html.HiddenFor(model => model.CasterEsquerdoFrontalInicial)
        @Html.HiddenFor(model => model.CambarDireitoFrontalInicial)
        @Html.HiddenFor(model => model.CasterDireitoFrontalInicial)
        @Html.HiddenFor(model => model.CambarEsquerdoTraseiroInicial)
        @Html.HiddenFor(model => model.ConvergenciaEsquerdaTraseiroInicial)
        @Html.HiddenFor(model => model.CambarDireitoTraseiroInicial)
        @Html.HiddenFor(model => model.ConvergenciaDireitoTraseiroInicial)
        @Html.HiddenFor(model => model.ConvergenciaTotalFinal)
        @Html.HiddenFor(model => model.CambarEsquerdoFrontalFinal)
        @Html.HiddenFor(model => model.CasterEsquerdoFrontalFinal)
        @Html.HiddenFor(model => model.CambarDireitoFrontalFinal)
        @Html.HiddenFor(model => model.CasterDireitoFrontalFinal)
        @Html.HiddenFor(model => model.CambarEsquerdoTraseiroFinal)
        @Html.HiddenFor(model => model.ConvergenciaEsquerdaTraseiroFinal)
        @Html.HiddenFor(model => model.CambarDireitoTraseiroFinal)
        @Html.HiddenFor(model => model.ConvergenciaDireitoTraseiroFinal)

        @Html.HiddenFor(model => model.PneuDianteiro)
        @Html.HiddenFor(model => model.PneuDianteiroExecutado)
        @Html.HiddenFor(model => model.PneuTraseiro)
        @Html.HiddenFor(model => model.PneuTraseiroExecutado)
        @Html.HiddenFor(model => model.Estepe)
        @Html.HiddenFor(model => model.EstepeExecutado)
        @Html.HiddenFor(model => model.Valvula)
        @Html.HiddenFor(model => model.Estepe)
        @Html.HiddenFor(model => model.ValvulaExecutado)

        @Html.HiddenFor(model => model.AmortecedorDianteiro)
        @Html.HiddenFor(model => model.AmortecedorDianteiroExecutado)
        @Html.HiddenFor(model => model.AmortecedorTraseiro)
        @Html.HiddenFor(model => model.AmortecedorTraseiroExecutado)
        @Html.HiddenFor(model => model.TerminaisDeDirecao)
        @Html.HiddenFor(model => model.TerminaisDeDirecaoExecutado)
        @Html.HiddenFor(model => model.BracosAxiais)
        @Html.HiddenFor(model => model.BracosAxiaisExecutado)
        @Html.HiddenFor(model => model.BarraEstabilizadora)
        @Html.HiddenFor(model => model.BarraEstabilizadoraExecutada)
        @Html.HiddenFor(model => model.Pivos)
        @Html.HiddenFor(model => model.PivosExecutado)
        @Html.HiddenFor(model => model.Bandeja)
        @Html.HiddenFor(model => model.BandejaExecutado)

        @Html.HiddenFor(model => model.Pastilhas)
        @Html.HiddenFor(model => model.PastilhasExecutado)
        @Html.HiddenFor(model => model.Discos)
        @Html.HiddenFor(model => model.DiscosExecutado)
        @Html.HiddenFor(model => model.FreioTraseiro)
        @Html.HiddenFor(model => model.FreioTraseiroExecutado)
        @Html.HiddenFor(model => model.FluidoFreio)
        @Html.HiddenFor(model => model.FluidoFreioExecutado)

        @Html.HiddenFor(model => model.Balanceamento)
        @Html.HiddenFor(model => model.BalanceamentoExecutado)
        @Html.HiddenFor(model => model.Alinhamento)
        @Html.HiddenFor(model => model.AlinhamentoExecutado)
        @Html.HiddenFor(model => model.ConsertoRoda)
        @Html.HiddenFor(model => model.ConsertoRodaExecutado)
        @Html.HiddenFor(model => model.CambagemCáster)
        @Html.HiddenFor(model => model.CambagemCásterExecutado)

        @Html.HiddenFor(model => model.TipoOleo)
        @Html.HiddenFor(model => model.Especificacao)
        @Html.HiddenFor(model => model.OleoMotor)
        @Html.HiddenFor(model => model.FiltroOleo)
        @Html.HiddenFor(model => model.CodigoDellaVia)
        @Html.HiddenFor(model => model.FiltroDeAr)
        @Html.HiddenFor(model => model.FiltroDeArExecutado)
        @Html.HiddenFor(model => model.FiltroCombustivel)
        @Html.HiddenFor(model => model.FiltroCombustivelExecutado)

        @Html.HiddenFor(model => model.Observacoes)
        @Html.HiddenFor(a => a.Id)
        @Html.HiddenFor(a => a.CheckupId)
        @Html.HiddenFor(a => a.OrcamentoId)


        <div>
            <div class="header">
                <label> ACESSÓRIOS </label>
            </div>
        </div>

        <form method="post">

            <div class="col-md-12 checkbox">
                @Html.CheckBoxList(model => model.Palhetas, model => model.PalhetasExecutado)
            </div>

            <div class="col-md-12 checkbox">
                @Html.CheckBoxList(model => model.Calotas, model => model.CalotasExecutado)
            </div>

            <div class="col-md-12 checkbox">
                @Html.CheckBoxList(model => model.Extintor, model => model.ExtintorExecutado)
            </div>

            <div class="col-md-12 checkbox">
                @Html.CheckBoxList(model => model.InjecaoEletronica, model => model.InjecaoEletronicaExecutado)
            </div>

            <div class="col-md-12 checkbox">
                @Html.CheckBoxList(model => model.HigienizacaoDeAr, model => model.HigienizacaoDeArExecutado)
            </div>

            <div class="col-md-12 checkbox last">
                @Html.CheckBoxList(model => model.FiltroArCondicionado, model => model.FiltroArCondicionadoExecutado)
            </div>


            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12 noPadding paddingCampos noMargin">
                        <button type="reset" class="btn btn-outline-secondary  btn-block" onclick="window.history.back()">Voltar</button>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-12 noPadding paddingCampos noMargin">
                        <input type="submit" value="Prosseguir" class="btn btn-block blue" />
                    </div>
                </div>
            </div>
        </form>
    }
</main>

@Html.Partial("_Legenda")

@Scripts.Render("~/bundles/checkup")

@section Scripts
{
    <script>
        buildFakeRadioButtons();
        buildFakeCheckBox();
    </script>

}

