@model DV.FrenteLoja.Core.Dominios.Entidades.GrupoProduto


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Tem certeza que deseja excluir esse registro?</h3>
    <h4>GrupoProduto</h4>
    <hr />

    @using (Html.BeginForm())
    {
        //@Html.AntiForgeryToken()

        <div class="flex full-height">
            <div class="row col-md-12">
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.IdGrupoProduto, new { @class = "orcamento-label" })
                    <br />
                    @Html.EditorFor(model => model.IdGrupoProduto, new { htmlAttributes = new { disabled = true } })
                </div>
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.IdGrupoSubGrupo, new { @class = "orcamento-label" })
                    <br />
                    @Html.EditorFor(model => model.IdGrupoSubGrupo, new { htmlAttributes = new { disabled = true } })
                </div>
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "orcamento-label" })
                    <br />
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { disabled = true } })
                </div>
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.RegistroInativo, htmlAttributes: new { @class = "orcamento-label" })
                    <br />
                    @Html.EditorFor(model => model.RegistroInativo, new { @readonly = "true" })
                </div>
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.CampoCodigo, htmlAttributes: new { @class = "orcamento-label" })
                    <br />
                    @Html.EditorFor(model => model.CampoCodigo, new { htmlAttributes = new { disabled = true } })
                </div>

                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Excluir" class="botao btn-black" />
                </div>

            </div>
        </div>
    }
    <hr />
    <div>
        @Html.ActionLink("Voltar pra lista", "Index")
    </div>

</body>
</html>
